*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

header {
    margin: 1rem 0.5rem;
    width: 100%;
    height: 40px;
    position: relative;
}

header svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

header nav {
    position: absolute;
    width: 100%;
    height: 40px;
    margin-left: 100px; 
}

#menu {
    position: absolute;
    left: 10px;
    list-style: none;
    width: 500px;
}

#account {
    position: absolute;
    right: 10px;
    width: 600px;
}

header nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

.cta {
    color: blue;
}

#menu, #account {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    top: 50%;
    transform: translate(0, -50%);
}